🐛 [Bug]: head requests work differently depending on the register order

### Bug Description

When registering the same route for GET and also HEAD requests, the behavior of the HEAD's route depends on the order in the registering process:
* If the HEAD is registered prior to the GET route, then a bad Content-Length header is sent.
* If the GET is registered before the HEAD route, then the HEAD's function is not executed, but GET's one.

I've manifested the bug using gofiber v2.5.0 and v2.36.0, both with Go v1.17 and v1.18

### How to Reproduce

Steps to reproduce the behavior:
1. Build and run the sample server below.
2. Query HEAD routes with:
 * `curl -v --head http://localhost:8080/path/headnotexecuting`  
 * `curl -v --head http://localhost:8080/path/badcontentlength`


### Expected Behavior

HEAD routes should always respong with HTTP Status Code 202 (Accepted), while GET routes will respond HTTP Status Code 200 (OK). From the code above, this will not occur for the HEAD route defined after the GET route.

As per RFC 9110, section 9.3.2 (https://www.rfc-editor.org/rfc/rfc9110.html#name-head), "The server SHOULD send the same header fields in response to a HEAD request as it would have sent if the request method had been GET". With a very specific use case of dynamic content, where the server may omit the Content-Length header for the sake of efficiency, this paragraph is not being honoured:  the code above specifically sets the correct Content-Length, but gofiber overwrites it with an invalid/incorrect value for the HEAD route defined before the GET route.

### Fiber Version

v2.5.0, v2.36.0

### Code Snippet (optional)

```go
package main

import (
	"fmt"

	fiber "github.com/gofiber/fiber/v2"
)

const testContent = "This is a sample content string"

func main() {
	app := fiber.New(fiber.Config{})
	group := app.Group("/path")

	group.Get("/headnotexecuting", get)
	group.Head("/headnotexecuting", head)

	group.Head("/badcontentlength", head)
	group.Get("/badcontentlength", get)

	if err := app.Listen(":8080"); err != nil {
		fmt.Printf("Unable to listen: %v", err)
	}
}

func get(ctx *fiber.Ctx) error {
	return ctx.Status(fiber.StatusOK).SendString(testContent)
}

func head(ctx *fiber.Ctx) error {
	ctx.Set(fiber.HeaderContentType, "text/plain")
	ctx.Set(fiber.HeaderContentLength, fmt.Sprintf("%d", len(testContent)))
	return ctx.SendStatus(fiber.StatusAccepted)
}
```


### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my problem prior to opening this one.
- [X] I understand that improperly formatted bug reports may be closed without explanation.

https://docs.gofiber.io/api/app#route-handlers 

maybe we have to mention it here, but you don't have to specify the head method yourself 

when you set the GET method, HEAD is automatically set as well
https://github.com/gofiber/fiber/blob/master/app.go#L661

this is supposed to be a service

if you don't want this you can use the add method

Hi, @ReneWerner87, sorry for not writing before, I was AKF for a couple of weeks.

Thank you very much for your clarification!  I will proceed as you say and use `Add` for my case.

Just to leave my two cents for the sake of better Fiber, let me note that even wanting "Get" to be a service, the resulting behavior is still wrong, according to RFC 9110. Please read my comments in the "Expected behavior" above. Head's response should not include payload. As long as you use the very same function to serve Get and Head requests, the payload will be sent for both, which violates the RFC. One common use for HEAD is to retrieve document's data for a possibly too large document. Executing the HEAD route with this service would make the huge document to be sent over the network, just for nothing.

Additionally, as a side note, method/function names should reveal intention and not be a cause of misinformation. A method called `Get` is expected to create or return a "GET" route, like `Post`, `Put` and the rest of the methods do. But it happens that `Get` is the only method that "lies" to the user, by doing more than is supposed to do. The user will go unadverted unless it happened that they have read Get's documentation, which should not be required because `Get`'s signature is pretty self-explaining and straightforward.

I understand that for v2, `Get` is now part of the API and should not be corrected. But I suggest to take this all in consideration for a future major version, on which the `Get` method should execute only the code for creating a GET route and no more.

Ok good points, we will change the behavior in v3. 

Done with https://github.com/gofiber/fiber/commit/78c6197430a8ac5ceff51edde102a14c2c6681a3. Thanks for feedback :100: 

Would be great with a new example in a new report. 

@ReneWerner87, I've created #2080 with a new, specific example.

Thank you for your support!