ctx.Accepts() quality values and specificity

This issue is a follow on to #2386 and #2383 

              > i have reversed the loop for all accepts methods, so that the arguments are passed first and then the header values are checked
> 
> @efectn @sixcolors @derkan do you agree that this was the right thing to do ? the logic of express leading to the outputs implies this to me

@ReneWerner87 good job, this make the existing test cases behave as expected.

Reading the ctx.Accepts docs my understanding is that:

```
The Accepts function in the GoFiber context is used to check if the specified extensions or content types are acceptable based on the request's Accept HTTP header.

It takes one or more strings as input arguments representing the content types or extensions and returns the most preferred one based on the Accept header.
```

Therefore, if my understanding of the intent of the Accept function is correct, the following should hold true:

```
c.Request().Header.Set(HeaderAccept, "text/plain, application/json;q=0.5, text/html, */*;q=0.1")
	utils.AssertEqual(t, "txt", c.Accepts("json", "txt"))

	c.Request().Header.Set(HeaderAccept, "text/plain;charset=UTF-8;q=0.8,text/plain;charset=US-ASCII;q=0.4,text/plain;q=0.2,text/html")
	utils.AssertEqual(t, "text/plain;charset=US-ASCII", c.Accepts("text/plain", "text/plain;charset=US-ASCII"))
	utils.AssertEqual(t, "text/plain;charset=UTF-8", c.Accepts("text/plain;charset=US-ASCII", "text/plain;charset=UTF-8", "text/plain"))
	utils.AssertEqual(t, "text/html", c.Accepts("text/plain", "text/html"))
```

For example: It is possible that a browser could use the Accept header with the value text/plain;charset=UTF-8;q=0.8,text/plain;charset=US-ASCII;q=0.4,text/html. While text/html is typically assumed to have a default quality value of 1 if not specified, the browser could still explicitly specify it with a quality value of 1, as it is allowed by the HTTP specifications.

Furthermore, the browser could be indicating to the server that it prefers text/plain with a charset of UTF-8 over text/plain with a charset of US-ASCII, but it is still willing to accept both with different quality values. This could be useful in scenarios where the server has content in both character sets and wants to serve the content that is preferred by the client.

However, it is worth noting that the Accept header sent by the browser may vary depending on the user agent and its configuration. Therefore, it is important for the server to properly parse and interpret the Accept header to determine the preferred content type for the client.

## Background/Refs

The relevant RFCs for the HTTP/1.1 specification are RFC 7231 and RFC 7232.

Regarding the q parameter and its default value of 1, Section 5.3.1 of RFC 7231 states:

```
If no "*" is present in an Accept header field, then all
media types are acceptable, assuming that any media range
syntax is understood by the recipient.  If an Accept header
field is present, and if the server cannot send a response
which is acceptable according to the combined Accept field
value, then the server SHOULD send a 406 (not acceptable)
response.

[...]

Each media-range might be followed by one or more accept-
params, beginning with the "q" parameter for indicating a
relative quality factor.  The first "q" parameter (if any)
separates the media-range parameter(s) from the accept-
params.  Quality factors allow the user or user agent to
indicate the relative degree of preference for that media-
type, on a scale of 0 to 1.
```

Regarding the order of the MIME types in the Accept header, Section 5.3.2 of RFC 7231 states:

```
The order in which the content-codings are listed in the
header field is significant.  Typically, the first encoding
that is applied is the one listed as the first content-coding;
subsequent encodings are applied in the order listed.  The
order of charset values in the header field is significant,
whereas the order of language-tag values is not.  Specifically,
it does not mean that the first charset listed is preferred,
but rather that it represents the default charset if none is
otherwise specified.

An "Accept" header field can be present in a request to
indicate the formats that are acceptable for the response.
Field content negotiation is described in Section 5.3.  An
origin server that is capable of generating a response
message which is subject to content negotiation MAY vary the
response that is sent, based on the value of the Accept header
field supplied in the request.  For example, the server might
include a different Content-Type header field, or might
omit the content entirely.

The order in which the media type values are listed is
significant.  The first media type that is listed as acceptable
determines the format of the entity-body that is returned.  A
more precise or generally usable media type listed earlier in
the Accept header field SHOULD be given preference over those
that are listed later.
```

MDN on Quality Values https://developer.mozilla.org/en-US/docs/Glossary/Quality_values

```
The importance of a value is marked by the suffix ';q=' immediately followed by a value between 0 and 1 included, with up to three decimal digits, the highest value denoting the highest priority. When not present, the default value is 1.

[Examples](https://developer.mozilla.org/en-US/docs/Glossary/Quality_values#examples)
The following syntax

text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8

indicates the order of priority:

[...]

If there is no priority defined for the first two values, the order in the list is irrelevant. Nevertheless, with the same quality, more specific values have priority over less specific ones:

text/html;q=0.8,text/*;q=0.8,*/*;q=0.8

Value	Priority
text/html	0.8 (but totally specified)
text/*	0.8 (partially specified)
*/*	0.8 (not specified)

Some syntax, like the one of Accept, allow additional specifiers like text/html;level=1. These increase the specificity of the value. Their use is extremely rare.
```

_Originally posted by @sixcolors in https://github.com/gofiber/fiber/issues/2386#issuecomment-1485081978_
            

Express docs https://expressjs.com/en/5x/api.html#req.accepts

used https://github.com/jshttp/accepts which uses https://github.com/jshttp/negotiator

yes will definitely have a performance impact
since we have to go all the way to the end and remember all the values, then the other way which was used before makes sense again

then you go through the header values and not the arguments


we could also split the header string and sort it so that we achieve the prioritization, but then we have one more allocation due to the created slice

but maybe this can be done with byte buffer pool or it is not important because it is only a temporary allocation

ref x/net/http discussion on content negotiation https://github.com/golang/go/issues/19307

ref mdn docs on content negotiation https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation

ref RFC 9110 HTTP Semantics [12.3. ](https://www.rfc-editor.org/rfc/rfc9110.html#section-12.3)[Request Content Negotiation](https://www.rfc-editor.org/rfc/rfc9110.html#name-request-content-negotiation) 

Note [https://www.rfc-editor.org/rfc/rfc9110.html#field.accept which shows:](https://www.rfc-editor.org/rfc/rfc9110.html#name-accept)

Which shows:

```
Accept: audio/*; q=0.2, audio/basic

is interpreted as "I prefer audio/basic, but send me any audio type if it is the best available after an 80% markdown in quality".
```

So that means we should prioritize sort by q value, and that the header order only matters if q is the same, or is unspecified in which case it is assumed to be 1.0

It also goes on to talk about specificity.

@ReneWerner87 

I'm working on fully cloning the express Accepts function, however I am seeing a behaviour difference from the assertions in Test_Ctx_Accepts in Fiber vs Express, specifically:

```go
	c.Request().Header.Set(HeaderAccept, "text/html, application/json")
	utils.AssertEqual(t, "text/*", c.Accepts("text/*"))
```

Results in:

```bash
--- FAIL: Test_Ctx_Accepts (0.01s)
    /Users/sixcolors/Documents/GitHub/fiber/ctx_test.go:58: 
        Test:       Test_Ctx_Accepts
        Trace:      ctx_test.go:58
        Expect:     text/*     (string)
        Result:                (string)
FAIL
FAIL	github.com/gofiber/fiber/v2	0.029s
FAIL
```

The express / js function in the following sample

```js
const express = require('express');
var accepts = require('accepts')
var Negotiator = require('negotiator')

const app = express();
const port = 3000;

const availableMediaTypes = ['text/*'];

app.use(express.json());

app.get('/', (req, res) => {
    negotiator = new Negotiator(req);
    console.log(negotiator.mediaTypes(availableMediaTypes));

    var accept = accepts(req)

    console.log(accept.types(availableMediaTypes) ? 'accepts' : 'does not accept');

    req.accepts(availableMediaTypes) ? console.log('express accepts') : console.log('express does not accept');
    res.send('Hello, world!');
});

app.post('/data', (req, res) => {
    if (req.accepts('json')) {
        res.json({ message: 'Received JSON data' });
    } else if (req.accepts('xml')) {
        res.send('<message>Received XML data</message>');
    } else {
        res.status(406).send('Not Acceptable');
    }
});

app.listen(port, () => {
    console.log(`Server listening on port ${port}`);
});
```

```bash
curl -v -H'Accept: text/html, application/json' http://localhost:3000/
```

Gives the console output:

```console
[]
does not accept
express does not accept
```

Working on code pre-PR on this branch: https://github.com/sixcolors/fiber/tree/2387-ctx-accepts-quality-values-and-specificity

First round of improving Benchmark_Ctx_Accepts results

### 2387-ctx-accepts-quality-values-and-specificity

```console
goos: darwin
goarch: amd64
pkg: github.com/gofiber/fiber/v2
cpu: Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz
Benchmark_Ctx_Accepts/run-[]string{".xml"}-24         	  297885	      3920 ns/op	    1608 B/op	      36 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"json",_"xml"}-24  	  215049	      5191 ns/op	    2104 B/op	      48 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"application/json",_"application/xml"}-24         	  231255	      5119 ns/op	    2104 B/op	      48 allocs/op
PASS
ok  	github.com/gofiber/fiber/v2	3.658s
goos: darwin
goarch: amd64
pkg: github.com/gofiber/fiber/v2
cpu: Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz
Benchmark_Ctx_Accepts/run-[]string{".xml"}-24         	  293320	      3920 ns/op	    1608 B/op	      36 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"json",_"xml"}-24  	  222104	      5221 ns/op	    2104 B/op	      48 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"application/json",_"application/xml"}-24         	  233214	      5167 ns/op	    2104 B/op	      48 allocs/op
PASS
ok  	github.com/gofiber/fiber/v2	3.703s
```

Second round of improving Benchmark_Ctx_Accepts results

### 2387-ctx-accepts-quality-values-and-specificity

```console
goos: darwin
goarch: amd64
pkg: github.com/gofiber/fiber/v2
cpu: Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz
Benchmark_Ctx_Accepts/run-[]string{".xml"}-24         	  316141	      3569 ns/op	    1472 B/op	      33 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"json",_"xml"}-24  	  254371	      4868 ns/op	    1968 B/op	      45 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"application/json",_"application/xml"}-24         	  242386	      4798 ns/op	    1968 B/op	      45 allocs/op
PASS
ok  	github.com/gofiber/fiber/v2	3.705s
goos: darwin
goarch: amd64
pkg: github.com/gofiber/fiber/v2
cpu: Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz
Benchmark_Ctx_Accepts/run-[]string{".xml"}-24         	  324574	      3570 ns/op	    1472 B/op	      33 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"json",_"xml"}-24  	  248742	      4840 ns/op	    1968 B/op	      45 allocs/op
Benchmark_Ctx_Accepts/run-[]string{"application/json",_"application/xml"}-24         	  244814	      4759 ns/op	    1968 B/op	      45 allocs/op
PASS
ok  	github.com/gofiber/fiber/v2	3.703s
```

hmmm.... https://github.com/timewasted/go-accept-headers perform better than my reimplementation of https://github.com/jshttp/negotiator

I have a solution in my mind with the current getOffers method without allocations.
But unfortunately not much time, will try it this or next week after my daily business. 

But still much slower in some cases.
Will look at it in the next days. 

> But still much slower in some cases.
> Will look at it in the next days.

True, however now the function follows the RFC. I'll take another look at those cases where it's much slower to see what I can do there. 

> > But still much slower in some cases.
> > Will look at it in the next days.
> 
> True, however, now the function follows the spec for [Content Negotiation Fields](https://www.rfc-editor.org/rfc/rfc9110#name-content-negotiation-fields). I'll also look at those cases where it's much slower to see what I can do for them.
> 
> I'm not 100% sure I can make them as fast as they were while still being 'correct'; the benchmarks are an almost ideal case for the old implementation. Open to any help/suggestions you may have.

Although media ranges aren't supported in the master or #2486 implementations.

eg

```console
Accept: text/*, text/plain, text/plain;format=flowed, */*

text/plain;format=flowed
text/plain
text/*
*/*
```
The ctx.Accepts() func does not provide for checking parameters. Doing so would likely incur undesirable performance and memory penalties. Thoughts?