🐛 [Bug]: HEAD routes improperly overwrite the Content-Length header

### Bug Description

The header `Content-Length` explicitly sent in HEAD routes is ignored in lieu of another value sent by Go-Fiber. HEAD routes should never add a default `Content-Length` nor overwrite the user-given one, if any.

I've manifested the bug using gofiber v2.5.0 and v2.36.0, both with Go v1.17 and v1.18

### How to Reproduce

Steps to reproduce the behavior:

* Build and run the sample server below.
* Query HEAD routes with:  `curl -v --head http://localhost:8080/path/badcontentlength`

### Expected Behavior

As per RFC 9110, section 9.3.2 (https://www.rfc-editor.org/rfc/rfc9110.html#name-head), "The server SHOULD send the same header fields in response to a HEAD request as it would have sent if the request method had been GET".

The code below specifically sets the correct `Content-Length` for the content string, as if a GET route were requested, but Go-Fiber is overwriting it with an invalid/incorrect value. The difference can be seen by comparing the received headers `Content-Length` and `X-Expected-Content-Length` (added by the server below for testing purposes). 

There is a paragraph in the mentioned RFC that speaks about a very specific use case of dynamic content, where the server may omit the `Content-Length` header for the sake of efficiency. Taking this into account, if a HEAD route didn't specify a `Content-Length`, Go-Fiber should not add a default one, in order to honour that specific case. So my suggestion is simply make Go-Fiber to not add a `Content-Length` header for HEAD routes.

### Fiber Version

v2.5.0, v2.36.0

### Code Snippet (optional)

```go
package main

import (
  "fmt"

  fiber "github.com/gofiber/fiber/v2"
)

const testContent = "This is a sample content string"

func main() {
  app := fiber.New(fiber.Config{})
  group := app.Group("/path")

  group.Head("/badcontentlength", head)

  if err := app.Listen(":8080"); err != nil {
    fmt.Printf("Unable to listen: %v", err)
  }
}

func head(ctx *fiber.Ctx) error {
  expectedContentLengthValue := fmt.Sprintf("%d", len(testContent))
  ctx.Set(fiber.HeaderContentType, "text/plain")
  ctx.Set(fiber.HeaderContentLength, expectedContentLengthValue)
  ctx.Set("X-Expected-Content-Length", expectedContentLengthValue)
  return ctx.SendStatus(fiber.StatusOK)
}
```


### Checklist:

- [X] I agree to follow Fiber's [Code of Conduct](https://github.com/gofiber/fiber/blob/master/.github/CODE_OF_CONDUCT.md).
- [X] I have checked for existing issues that describe my problem prior to opening this one.
- [X] I understand that improperly formatted bug reports may be closed without explanation.

ah okay now i understand, problem is that fasthttp sets the length itself at the end, don't know if you can override that right now

@dmlambea 
have you ever tested something like this ? i think fasthttp ignores the normal header for this completely
```go
ctx.Response().Header.SetContentLength(1151515)
```

```go
func head(ctx *fiber.Ctx) error {
	expectedContentLengthValue := fmt.Sprintf("%d", len(testContent))
	ctx.Set(fiber.HeaderContentType, "text/plain")
	ctx.Set(fiber.HeaderContentLength, expectedContentLengthValue)
	ctx.Set("X-Expected-Content-Length", expectedContentLengthValue)
	ctx.Status(fiber.StatusOK)
	return nil
}
```
problem is the SendStatus method -> it set the body and then it recalculate the content-length

@dmlambea 

This last snippet worked fine, thanks!  :-)

I can use the workaround but I guess FastHTTP should be fixed in order to remove workaround code everywhere.

Great support, thank you very much!